*{
    margin: 0px;
    margin: 0px;
    background-color: white;
}
#navbar{
    height: 60px;
    background-color: black;
  
}

button{
    background-color: yellow;
}

#logo{
color: #f08804;
font-size: 25px;
}
a{
    margin-right:200px ;
}
  




